<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <div id="cookies">{f:translate(key: 'cookies', extensionName: 'hostinghelden_template')} <f:link.page pageUid="{theme.privacy.pid}">{f:translate(key: 'datenschutz', extensionName: 'hostinghelden_template')}</f:link.page>.<p>{f:translate(key: 'use_cookies', extensionName: 'hostinghelden_template')}</p>
    <a class="accept" href="#">{f:translate(key: 'yes', extensionName: 'hostinghelden_template')}</a>
    <a class="decline" href="#">{f:translate(key: 'no', extensionName: 'hostinghelden_template')}</a>
  </div>
</html>
