<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
  <header id="page-header" class="bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}{f:if(condition:settings.logo.file,then:' navbar-has-image')}{f:if(condition:theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}">
    <div class="container">
      <f:render partial="Navigation/Logo" arguments="{_all}" />
      <f:render partial="Navigation/Search" arguments="{_all}" />
      <f:render partial="Navigation/Phone" arguments="{_all}" />
      <f:if condition="{mainnavigation}">
        <f:render section="NavToggler" />
        <nav id="mainnavigation" class="collapse navbar-collapse">
          <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
          <f:render section="MainNavigation" arguments="{menu: mainnavigation, theme: theme}" />
          <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
        </nav>
      </f:if>
    </div>
  </header>

  <f:section name="NavToggler">
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
      <span class="navbar-toggler-icon"></span>
    </button>
  </f:section>

  <f:section name="MainNavigation">
  <f:if condition="{menu}">
  <ul class="navbar-nav">
    <f:for each="{menu}" as="item">
    <li class="nav-item{f:if(condition: item.active, then:' active')}">
      <f:render section="NavLink" arguments="{item: item, navlinkclass: 'nav-link'}" />
      <f:if condition="{item.children}">
      <f:render section="DropDown" arguments="{menu: item.children, index: 1}" />
      </f:if>
    </li>
    </f:for>
  </ul>
  </f:if>
  </f:section>

  <f:section name="DropDown">
  <f:variable name="index" value="{index+1}" />
  <span class="toggleLevel toggle-l{index}" data-level="{index}"></span>
  <ul class="l{index}">
    <f:for each="{menu}" as="item">
    <li class="{f:if(condition: item.active, then:' active')}">
      <f:render section="NavLink" arguments="{item: item}" />
      <f:if condition="{item.children}">
      <f:render section="DropDown" arguments="{menu: item.children, index: index}" />
      </f:if>
    </li>
    </f:for>
  </ul>
  </f:section>

  <f:section name="NavLink">
  <f:variable name="targetAttribute" value="{f:if(condition: item.target, then: ' target={item.target}')}" />
  <a href="{item.link}" id="nav-item-{item.data.uid}" class="{navlinkclass}"{targetAttribute} title="{item.title}">
    <f:render section="NavIcon" arguments="{_all}" />
    <span class="nav-link-text">{item.title}
      <f:if condition="{item.current}"><span class="sr-only">(current)</span></f:if>
    </span>
  </a>
  </f:section>

  <f:section name="NavIcon">
  <f:if condition="{theme.navigation.icon.enable} && {item.icon}">
  <span class="nav-link-icon">
    <f:if condition="{item.icon.0.extension} === svg">
    <f:then>
    <bk2k:inlineSvg image="{item.icon.0}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}" />
    </f:then>
    <f:else>
    <f:image image="{item.icon.0}" alt="{item.icon.0.alternative}" title="{item.icon.0.title}" width="{theme.navigation.icon.width}" height="{theme.navigation.icon.height}" />
    </f:else>
    </f:if>
  </span>
  </f:if>
  </f:section>


</html>
