#page-header {
  z-index: 200;
}

.navbar-nav ul {
  display: none;
}


.navbar-brand-image {
  flex-grow: 1;
}

#phonelink {
  margin-right: 16px;
}

#quicksearch {
  position: relative;
  clear: right;
  margin-right: 12px;
  svg {
    left: 6px;
    top: 7px;
    position: absolute;
    pointer-events: none;
  }
  input[type=text] {
    width: 100%;
    padding-left: 24px;
  }
  input[type=submit] {
    text-indent: -9999px;
    background: transparent;
    border: none;
    width:30px;
    height: 30px;
    position: absolute;
    left: 0;
  }
}


@include media-breakpoint-down(lg) {
  #quicksearch {
    width: 95px;
  }
}

@include media-breakpoint-down(sm) {
  #quicksearch {
    width: auto;
    input[type=text] {
      display: none;
    }
    input[type=submit] {
      position: relative;
    }
  }
}
@include media-breakpoint-down(xs) {
  #quicksearch {
    margin-right:0;
  }
}
