.body-bg .gallery-row {
  margin: 0;
  .gallery-item {
    padding: 0;
  }
}

.carousel-text-inner {
    background: rgba(0,0,0,.3);
    padding: 18px 0;
    text-align: center;
}

.navbar-mainnavigation .navbar-brand-image {
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer-section-bottom,
.footer-section-meta {
  text-align: left;
  @include media-breakpoint-up(md) {
    .frame-inner {
      display: flex;
    }
  }
}

@include media-breakpoint-up(md) {
  .textpic-ratio-1 {
    .textmedia-gallery,
    .textpic-gallery {
      width: 33.33%;
    }
    .textmedia-text,
    .textpic-text {
      width: 66.66%;
    }
  }
  .textpic-ratio-2 {
    .textmedia-gallery,
    .textpic-gallery {
      width: 25%;
    }
    .textmedia-text,
    .textpic-text {
      width: 75%;
    }
  }
  .footer-section-bottom p {
    margin: 0;
  }
  .footer-sociallinks,
  .footer-copyright {
    margin-top: 0 !important;
    text-align: right;
    flex-grow: 1;
  }
}
