$cloudfront: 'https://d25369b9qwxvrc.cloudfront.net/' !default;
// lightbox
$pswp__assets-path: "#{$cloudfront}dist/img/PhotoSwipe/" !default;
// cookie
$cookie-bg: rgba(44,44,44,.8);
$cookie-color: #fff;
$cookie-warning: red;
$cookie-button: $primary;
$cookie-button-decline: #444;

$navbar-dark-bg: #111;

$footer-sections: () !default;
$footer-sections: map-merge((
  content: (
    background:                $primary,
    color:                     #fff,
    link-color:                #ddd
  ),
  bottom: (
    background:                darken($primary, 5%),
    color:                     #fff,
    link-color:                #ddd
  ),
  meta: (
    background:                darken($primary, 10%),
    color:                     #fff,
    link-color:                #ddd
  )
), $footer-sections);

$navbar-heights: (
  xs: 70px,
  sm: 75px,
  md: 80px,
  lg: 80px,
  xl: 85px
) !default;
